.container {
  --buttons-gap: 0.55rem;

  align-self: center;
  display: flex;
  gap: var(--buttons-gap);
}

.container button {
  --shadow-color: var(--pagination-shadow);
  --background-color: var(--pagination-button-bg, #fff);
  --text-color: var(--pagination-button-text, #000);

  --button-width: 35px;
  --button-height: 35px;

  cursor: pointer;

  background-color: var(--background-color);
  color: var(--text-color);
  margin-bottom: 3px;
  padding: 0;

  width: var(--button-width);
  height: var(--button-height);

  border-radius: 3px;
  border: 0;

  transition: 0.3s;

  border: 1px solid var(--gray-on-bg);

  &:not(.activePage):hover {
    --shadow-color: var(--pagination-shadow-hover);
    box-shadow: 3px 3px 0 var(--shadow-color);
  }

  &.activePage {
    --background-color: var(--pagination-button-bg-active, #000);
    --text-color: var(--pagination-button-text-active, #fff);

    pointer-events: none;
    border: none;
    box-shadow: 3px 3px 0 var(--shadow-color);
  }
}

.container button.big {
  width: calc(var(--button-width) * 2);

  &:first-of-type {
    margin-right: calc(var(--buttons-gap) * 0.25);
  }
  &:last-of-type {
    margin-left: calc(var(--buttons-gap) * 0.25);
  }

  &.inactive {
    pointer-events: none;

  --background-color: var(--pagination-button-bg-inactive);
  --text-color: var(--pagination-button-text-inactive);
  }
}

@media screen and (max-width: 400px) {
  .container button {
    --button-width: 30px;
  }
}
