.container {
  --background: rgb(191, 240, 255);
  --toggle: rgb(255, 213, 0);

  position: fixed;
  right: 2vw;
  bottom: 2rem;

  width: 120px;
  background-color: var(--background);
  padding: 0.5rem;
  border-radius: 50px;

  overflow: hidden;
  cursor: pointer;

  z-index: 9999999;

  display: flex;
  justify-content: end;

  transition: all 0.5s;
}

.toggle {
  --toggle-width: 40px;
  background-color: var(--toggle);
  height: 40px;
  width: var(--toggle-width);

  border-radius: 50%;
  right: 0;

  transition: all 0.5s;
  position: relative;

  &&:before {
    content: "";
    background-color: var(--background);

    width: 35px;
    height: 75%;

    position: absolute;
    border-radius: 50%;

    right: -40px;
    transition: all 0.5s;
  }
}

.container.dark {
  --background: rgb(57, 19, 82);
  --toggle: rgb(255, 213, 0);

  > .toggle {
    right: calc(100% - var(--toggle-width));

    &::before {
      right: -15px;
    }
  }
}

@media screen and (max-width: 650px) {
  .container {
    bottom: 0.5rem;
  }
}
