.popup {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);

  font-size: 1.1rem;

  transition: all 0.6s;
  z-index: 1000;

  top: -6rem;
  border-radius: 6px;
  padding: 1.5rem;

  display: flex;
  align-items: center;
  gap: 1.5rem;

  &.active {
    animation: 3s linear popup;
  }

  &.success {
    background-color: var(--success);
    box-shadow: 0.35rem 0.35rem var(--success-shadow);

    color: var(--success-text);
    font-weight: normal;

    > p::before {
      content: "Success:";
      font-weight: bold;
      margin-right: 5px;
    }
  }
  &.failure {
    background-color: var(--error);
    box-shadow: 0.35rem 0.35rem var(--error-shadow);

    color: var(--error-text);
    font-weight: normal;

    > p::before {
      content: "Failure:";
      font-weight: bold;
      margin-right: 5px;
    }
  }
}
.popup svg {
  height: 30px;
  width: 30px;
}

@keyframes popup {
  0% {
    top: -6rem;
  }
  10% {
    top: var(--page-padding);
  }
  90% {
    top: var(--page-padding);
  }
  100% {
    top: -6rem;
  }
}
