.big {
  height: 600px;
  padding: 2rem 1.5rem;
  color: var(--header-text);

  display: flex;
  flex-direction: column;
  justify-content: end;

  > div {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
  }

  h2 {
    font-weight: 600;
  }

  .date {
    font-size: 1.2rem;
    text-align: end;
  }
}
.image {
  border-radius: 5px;
}
