.big {
  height: 60vh;
  padding: 3.5rem 0;
  color: var(--header-text);
  background-color: gray;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;

  > div {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-shrink: 0;
  }

  transition: transform 1s;
  @media (prefers-reduced-motion) {
    transition: 0;
  }
}

/* styles for when used in individual post page */
.headerBackground::before {
  content: "";
  background-color: #000000a1;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 80px;

  border-radius: 5px 5px 0 0;
}
.individual {
  padding-bottom: 1.5rem;
  height: 30vh;

  .text:hover h2 {
    color: currentColor;
  }
  .text,
  .info {
    display: none;
  }
}
/* ---------------------------------------- */

.info,
.text {
  padding: 0.75rem var(--card-items-padding);
  background-color: var(--carousel-text-bg);
}

.info {
  background-color: var(--carousel-info-bg);
  border-radius: 5px 0 0 5px;
}

.date {
  font-size: 1.2rem;
  text-align: end;
}

.text {
  cursor: pointer;
  padding: 0.75rem var(--card-items-padding);
  border-radius: 0px 5px 5px 0;

  display: flex;
  flex-direction: column;

  width: fit-content;

  &:hover h2 {
    color: var(--link-hover);
  }
}

.text h2 {
  width: fit-content;
  display: inline;
  font-weight: 600;

  transition: color 0.3s;
}
.summary {
  max-width: 500px;
  font-size: 1.25rem;

  text-wrap: balance;
}
.image {
  border-radius: 5px;
}

@media screen and (max-width: 1100px) {
  .big > div {
    font-size: 1.25rem;
  }
  .summary {
    font-size: 1.05rem;
  }
}

@media screen and (max-width: 900px) {
  .big > div {
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 800px) {
  .big > div {
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    padding: 0.5rem 1.5rem;
    border-radius: 0px 0 5px 0;
  }
}
