.big {
  height: 60vh;
  padding: 3.5rem 0;
  color: var(--header-text);
  background-color: gray;

  display: flex;
  flex-direction: column;
  justify-content: end;

  > div {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.info,
.text {
  padding: 0.75rem var(--card-items-padding);
  background-color: var(--carousel-text-bg);
}

.info {
  background-color: var(--carousel-info-bg);
  border-radius: 5px 0 0 5px;
}

.date {
  font-size: 1.2rem;
  text-align: end;
}

.text {
  padding: 0.75rem var(--card-items-padding);
  border-radius: 0px 5px 5px 0;

  display: flex;
  flex-direction: column;

  width: fit-content;
}

h2 {
  width: fit-content;
  display: inline;
  font-weight: 600;
}
.summary {
  max-width: 500px;
  font-size: 1.25rem;

  text-wrap: balance;
}
.image {
  border-radius: 5px;
}

@media screen and (max-width: 1100px) {
  .big > div {
    font-size: 1.25rem;
  }
  .summary {
    font-size: 1.05rem;
  }
}

@media screen and (max-width: 900px) {
  .big > div {
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 800px) {
  .big > div {
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    padding: 0.5rem 1.5rem;
    border-radius: 0px 0 5px 0;
  }
}
