.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  color: var(--home-small-card-color);

  &:hover {
    cursor: pointer;

    &:nth-child(even) > .cover {
      transform: rotate(-1deg);
    }
    &:nth-child(odd) > .cover {
      transform: rotate(1deg);
    }

    .title {
      color: var(--link-hover);
    }
  }
}

.cover {
  border-radius: 8px;

  height: 250px;
  width: auto;
  object-fit: cover;

  transition: 0.3s;
  background-color: #ccc;

  @media (prefers-reduced-motion) {
    transform: rotate(0) !important;
  }
}

.date {
  color: var(--small-card-gray);
  margin-bottom: -0.5rem;

  font-size: 1rem;
}

.title {
  font-weight: 600;
  font-size: 1.3rem;

  transition: 0.2s;
}

.summary {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}
