main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.smallCardContainer {
  padding: 0 var(--card-items-padding);
  display: grid;
  justify-content: center;
  gap: 2rem 1.5rem;
  grid-template-columns: repeat(
    var(--home-number-of-rows),
    var(--home-card-size)
  );
}

@media screen and (max-width: 920px) {
  .smallCardContainer {
    padding: 0;
  }
}
@media screen and (max-width: 650px) {
  .smallCardContainer {
    --home-card-size: 90%;
  }
}
