header {
  padding: 1rem 2rem;
  z-index: 1;

  position: absolute;
  left: 0;

  display: flex;
  align-items: center;

  width: 100%;
  color: var(--header-text);
}

.auth {
  margin-left: auto;
}

.logo {
  cursor: pointer;

  font-size: 2rem;
  font-weight: 600;
}

.auth {
  display: flex;
  gap: 1rem;
}
.auth button {
  padding: 0.6em 1.5em;

  background-color: transparent;
  border: none;
  border-radius: 7px;

  cursor: pointer;

  &:first-of-type:hover {
    text-decoration: underline;
  }
  &:nth-of-type(2) {
    font-weight: 600;
    background-color: var(--header-text);
    color: var(--header-opposite);
  }
}

@media screen and (max-width: 500px) {
  header {
    align-items: start;
  }
  .auth {
    flex-direction: column-reverse;
    gap: 0;
  }
}
