@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

header {
  padding: 1rem 2rem;
  z-index: 1;

  position: absolute;
  left: 0;

  display: flex;
  align-items: start;

  width: 100%;
  color: var(--header-text);
}

.auth {
  margin-left: auto;
}

.logo {
  --size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  color: #fff;

  border-radius: 7px;

  font-size: var(--size);
  font-weight: 1000;

  overflow: hidden;
  font-family: Space Mono, monospace;

  > div {
    width: calc(var(--size) * 1.5);
    height: calc(var(--size) * 1.5);
    background-color: #fff;
    border-radius: 0.5rem 0.75rem 0.5rem 0.75rem;

    display: flex;
    justify-content: center;
    align-items: center;
    > div {
      height: 75%;
      width: 75%;

      border-radius: 35% 15% 35% 15%;
      color: #fff;
      background-color: #000;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  > p {
    z-index: -1;
    transform: translateX(-100%);

    transition: transform 0.25s ease-out;
  }
  &:hover > p {
    transform: translateX(0);
  }
}

.auth {
  display: flex;
  gap: 1rem;
}
.auth button {
  padding: 0.6em 1.5em;

  background-color: transparent;
  border: none;
  border-radius: 7px;

  cursor: pointer;

  &:first-of-type:hover {
    text-decoration: underline;
  }
  &:nth-of-type(2) {
    font-weight: 600;
    background-color: var(--header-text);
    color: var(--header-opposite);
  }
}

@media screen and (max-width: 500px) {
  header {
    align-items: start;
  }
  .auth {
    flex-direction: column-reverse;
    gap: 0;
  }
}
