.loading {
  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  backdrop-filter: blur(20px);

  z-index: 999;
  transition: opacity 0.5s;
}

.loader {
  width: 50px;
  height: 50px;

  border-radius: 50%;
  border: 8px solid var(--text-on-bg);
  border-top: 8px solid var(--link-on-bg);

  animation: loader 1s infinite ease-in-out;
}
@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
