.carousel {
  position: relative;
  overflow: hidden;
}

.cardContainer {
  display: flex;

  /* do not target dots div */
  > div:not(:last-of-type) {
    flex-shrink: 0;
    width: 100%;
  }
}

.dots {
  position: absolute;
  top: calc(100% - 2.5rem);
  left: 1.5rem;
  width: fit-content;

  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.dot {
  box-sizing: content-box;

  height: 15px;
  width: 15px;

  background-color: transparent;

  border-radius: 50%;
  border: 1px solid var(--dot-color);

  display: inline-block;
  cursor: pointer;
}

.active {
  background-color: var(--dot-color);
}
