.carousel {
  position: relative;
  overflow: hidden;

  border-radius: 5px;
}

.cardContainer {
  display: grid;
  gap: var(--page-padding);
  grid-template-columns: repeat(3, 1fr);

  > div {
    width: calc(100vw - (var(--page-padding) * 2));

    flex-shrink: 0;
  }

  transition: transform 0.75s ease-in-out;

  @media (prefers-reduced-motion) {
    transition: 0;
  }
}

.dots {
  position: absolute;
  top: calc(100% - 2.5rem);
  left: 1.5rem;
  width: fit-content;

  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

.dot {
  box-sizing: content-box;

  height: 15px;
  width: 15px;

  background-color: transparent;

  border-radius: 50%;
  border: 1px solid var(--dot-color);

  display: inline-block;
  cursor: pointer;
}

.active {
  background-color: var(--dot-color);
}
