@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: var(--page-bg);
  font-family: Montserrat, system-ui;
}

#root {
  max-width: 100vw;
  padding: var(--page-padding);
  height: 100%;
}
