:root {
  --header-text: #fff;
  --header-opposite: #000;

  --loading-white: var(--page-bg);
  --loading-white-transparency: #ffffffe2;
  --loading-color: var(--text-on-bg);

  --link-hover: rgb(70, 170, 210);
  --focus-color: rgb(52, 148, 244);

  --page-bg: #ffffff;
  --text-on-bg: #000;
  --gray-on-bg: #828282;
  --link-on-bg: #4183c4;

  /* home page stuff */
  --card-items-padding: 1.5rem;
  --carousel-text-bg: #000;
  --carousel-info-bg: #7f4343;
  --dot-color: #fff;

  --home-number-of-rows: auto-fit;
  --home-card-size: min(45%, 415px);

  --home-small-card-color: var(--text-on-bg);
  --small-card-gray: var(--gray-on-bg);

  --page-padding: 0.5rem;

  --pagination-shadow: #a9a9a9;
  --pagination-shadow-hover: #000;

  /* auth page stuff */
  --form-page-bg: #303030;
  --form-shadow: #6a6a6a;

  /* pop-ups stuff */
  --error: #ecc8c5;
  --error-text: #b83c37;
  --error-shadow: #dd423c;

  --success: #ddf3d5;
  --success-text: #597151;
  --success-shadow: #7fcc66;

  /* post comments stuff */
  --comments-container-bg: #303030;
  --comments-title-color: #fff;

  --comment-bg: var(--page-bg);
  --comment-color: var(--text-on-bg);
  --comment-date-color: var(--gray-on-bg);

  --submit-button: #3498db;
  --submit-button-hover: #2980b9;

  --cancel-button: #f44336;
  --cancel-button-hover: #e31e1e;
}

:root.dark {
  --loading-white-transparency: #414141e2;

  --page-bg: #2f3438;

  --text-on-bg: #fff;
  --gray-on-bg: #c1c1c1;

  /* home page stuff */

  --pagination-shadow: #ffffff;
  --pagination-shadow-hover: #9d9d9d;

  /* pop-ups stuff */
  --error: #ecc8c5;
  --error-text: #b83c37;
  --error-shadow: #dd423c;

  --success: #ddf3d5;
  --success-text: #597151;
  --success-shadow: #7fcc66;

  /* post comments stuff */
  --comments-container-bg: #101010;

  --submit-button: #206a9c;
  --submit-button-hover: #0b4f7d;

  --cancel-button: #c12c21;
  --cancel-button-hover: #a60f0f;
}
