:root {
  --header-text: #fff;
  --header-opposite: #000;

  --card-items-padding: 1.5rem;
  --carousel-text-bg: #000;
  --carousel-info-bg: #7f4343;
  --dot-color: #fff;

  --home-number-of-rows: auto-fit;
  --home-card-size: min(45%, 415px);

  --comments-bg: #ededed;

  --page-bg: #ffffff;
  --page-padding: 0.5rem;

  --form-page-bg: #303030;
  --form-shadow: #6a6a6a;

  --submit-button: #3498db;
  --submit-button-hover: #2980b9;

  --link-hover: rgb(70, 170, 210);
  --focus-color: rgb(52, 148, 244);

  --loading-white: var(--page-bg);
  --loading-white-transparency: #ffffffe2;
}
