:root {
  --header-text: #fff;
  --header-opposite: #000;

  --loading-white: var(--page-bg);
  --loading-white-transparency: #ffffffe2;
  --loading-color: var(--text-on-bg);

  --link-hover: rgb(70, 170, 210);
  --focus-color: rgb(52, 148, 244);

  --skeleton-background: #c6c6c6;

  --page-bg: #0d0702;
  --text-on-bg: #000;
  --gray-on-bg: #828282;
  --link-on-bg: #4183c4;

  /* home page stuff */
  --card-items-padding: 1.5rem;
  --carousel-text-bg: #000;
  --carousel-info-bg: #7f4343;
  --dot-color: #fff;

  --home-number-of-rows: auto-fit;
  --home-card-size: min(45%, 415px);

  --home-small-card-color: var(--text-on-bg);
  --small-card-gray: var(--gray-on-bg);

  --page-padding: 0.5rem;

  --pagination-shadow: #a9a9a9;
  --pagination-shadow-hover: #000;

  --pagination-button-bg-inactive: #e0e0e0;
  --pagination-button-text-inactive: #999;

  /* auth page stuff */
  --form-page-bg: #303030;
  --form-shadow: #6a6a6a;

  /* pop-ups stuff */
  --error: #ecc8c5;
  --error-text: #b83c37;
  --error-shadow: #dd423c;

  --success: #ddf3d5;
  --success-text: #597151;
  --success-shadow: #7fcc66;

  /* post comments stuff */
  --comments-container-bg: #303030;
  --comments-title-color: #fff;

  --comment-bg: var(--page-bg);
  --comment-color: var(--text-on-bg);
  --comment-date-color: var(--gray-on-bg);

  --submit-button: #3498db;
  --submit-button-hover: #2980b9;

  --cancel-button: #f44336;
  --cancel-button-hover: #e31e1e;
}
:root.light {
  --page-bg: #ffffff;
}

:root.dark {
  --loading-white-transparency: #414141e2;

  --page-bg: #0d0702;

  --text-on-bg: #fff;
  --gray-on-bg: #c1c1c1;

  --skeleton-background: rgb(96, 96, 96);

  /* home page stuff */

  --pagination-button-bg: #1c1c1c;
  --pagination-button-text: #fff;

  --pagination-button-bg-active: #f0f0f0;
  --pagination-button-text-active: #000;

  --pagination-shadow: #555;
  --pagination-shadow-hover: #fff;

  --pagination-button-bg-inactive: #2a2a2a;
  --pagination-button-text-inactive: #777;

  /* pop-ups stuff */
  --error: #ecc8c5;
  --error-text: #b83c37;
  --error-shadow: #dd423c;

  --success: #ddf3d5;
  --success-text: #597151;
  --success-shadow: #7fcc66;

  /* post comments stuff */
  --comments-container-bg: #2c2c2c;

  --submit-button: #206a9c;
  --submit-button-hover: #0b4f7d;

  --cancel-button: #c12c21;
  --cancel-button-hover: #a60f0f;
}
